:root{
    /* Color Theme Swatches in Hex */
--violet: #010326;
--black: #242426;
--yellow: #F2E205;
--golden: #8C8411; 
--white: #F2F2F2;
--inter: 'Inter', sans-serif;
}

html {
    box-sizing: border-box;
    color: var(--white);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
    background-color: var(--violet);
    font-family: var(--inter);
}

.headings {
    text-align: center;
}

.main{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    border-radius: 10px;
}
.main .left {
    height: 300px;
    width: 300px;
    background-color: var(--white);
}

.main .right {
    height: 300px;
    width: 300px;
    background-color: var(--yellow);
}

