:root {
  /* Color Theme Swatches in Hex */
  --violet: #010326;
  --black: #242426;
  --yellow: #f2e205;
  --golden: #8c8411;
  --white: #f2f2f2;
  --inter: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
  color: var(--white);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  background-color: var(--violet);
  font-family: var(--inter);
}

.headings {
  text-align: center;
}

.main {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--black);
  border-radius: 10px;
}
.main .left {
  padding: 2rem;
  width: 50%;
  background-color: var(--white);
}

.main .right {
  padding: 2rem;
  width: 50%;
  background-color: var(--yellow);
}

@media (max-width: 600px) {
  .main {
    display: block;
  }
  .main .left {
    width: 100%;
  }
  .main .right {
    width: 100%;
  }
}
