<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Speech Emotion Recognition</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
</head>
<body>
    <div class="headings">
        <h1>Speech Emotion Recognition - Major Project</h1>
        <h3>made by</h4>
        <h2>Ankit Goyal &amp; Ansh Kumar Gupta</h2>
    </div>
    <div class="main">
        <div class="left">
            <h3>Record your voice</h3>
            <br>
            <div>
                <p>Convert recorded audio to:</p>
                <select id="encodingTypeSelect">
                  <option value="wav">Waveform Audio (.wav)</option>
                  <option value="mp3">MP3 (MPEG-1 Audio Layer III) (.mp3)</option>
                  <option value="ogg">Ogg Vorbis (.ogg)</option>
                </select>
                <div id="controls">
                  <button id="recordButton">Record</button>
                  <button id="stopButton" disabled>Stop</button>
                </div>
                <div id="formats"></div>
                <pre>Log</pre>
                <pre id="log"></pre>
          
                <pre>Recordings</pre>
                <ol id="recordingsList"></ol>
              </div>

        </div>
        <div class="right">
            <div id="speechContainer">
                <br>
                <h3>Upload .wav file</h3> 
                <form action = "{{ url_for('recognize')}}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file"/>
                    <input type="file" name="file1"/>
                    <br>
                    <br>
                    <h3>Recognize emotion from recording</h3> 
                    <input type="submit" id="submitButton" value="Recognize"/>
                </form>
                {% if transcript != "" %}
                <div id="speechEmotionContainer">
                    <h1>Results</h1>
                    <p id="emotionText">{{ transcript }}</p>
                    <p id="emotionText1">{{ transcript1 }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <script src="/static/js/WebAudioRecorder.min.js" ></script>
    <script src="/static/js/index.js" ></script>
</body>
</html>